{% extends "header.html" %}
{% block content %}
    <div class="row">
			<div id="content" class="col-sm-12 full">
				<div class="row">
					<div class="login-box">

						<div class="header">
						登录
						</div>


						<form class="form-horizontal login" action="/login" method="post">
{#						    {{ crsf_ }}#}
							<fieldset class="col-sm-12">
								<div class="form-group">
									<div class="controls row">
										<div class="input-group col-sm-12">
											<input type="text" class="form-control" id="username" name="username" value="{{ params.username or '' }}" placeholder="Username"/>
											<span class="input-group-addon"><i class="fa fa-user"></i></span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<div class="controls row">
										<div class="input-group col-sm-12">
											<input type="password" class="form-control" id="password" name="password" value="{{ params.password or ''}}"  placeholder="Password"/>
											<span class="input-group-addon"><i class="fa fa-key"></i></span>
										</div>
									</div>
								</div>


								<div class="row">

									<button type="submit" class="btn btn-lg btn-primary col-xs-12">Login</button>

								</div>
                                {% if error %}
								    <span style="color:red">{{ error }}</span>
                                {% endif %}
							</fieldset>

						</form>
						<div class="clearfix"></div>

					</div>
				</div><!--/row-->

			</div>

		</div><!--/row-->
{% endblock %}




