{% extends "body_header.html" %}

{% block menus %}
    <div class="row">

        <!-- start: Main Menu -->
        <div class="sidebar ">

            <div class="sidebar-collapse">
{#                <div class="sidebar-header t-center">#}
{#                    <span><img class="text-logo" style="width: 138px" src="static/img/logo1.png"></span>#}
{#                </div>#}
                <div class="sidebar-menu">
                    <ul class="nav nav-sidebar" style="overflow:auto">
                        <li>
                            <a href="#"><i class="fa  fa-inbox"></i><span class="text"> 内容管理 </span> <span
                                    class="fa fa-angle-down pull-right"></span></a>
                            <ul class="nav sub">
                                <li>
                                    <a href="#"><i class="fa fa-pencil-square"></i><span
                                            class="text"> 内容管理 </span><span
                                            class="fa fa-angle-down pull-right"></span></a>
                                    <ul class="nav sub">
                                        <li>
                                        <li><a href="/get_banner_list_total"><i class="fa"></i><span
                                                class="text"> 首页Banner </span></a>
                                        </li>
                                        <li><a href="/get_news_list_total"><i class="fa"></i><span
                                                class="text"> 新闻 </span></a></li>
                                        <li><a href="/get_fast_news_list_total"><i class="fa"></i><span
                                                class="text"> 快讯 </span></a></li>
                                    </ul>
                                </li>
                                {% if 93 in g.user.get_permission() %}
                                    <li>
                                        <a href="#"><i class="fa  fa-cny"></i><span class="text"> 财务管理 </span> <span
                                                class="fa fa-angle-down pull-right"></span></a>
                                        <ul class="nav sub">
                                            {% if 96 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-dollar"></i><span
                                                            class="text"> 财务管理 </span>
                                                        <span class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 82 in g.user.get_permission() %}
                                                            <li><a href="/get_finance_statistics"><i
                                                                    class="fa fa-cny"></i><span
                                                                    class="text"> 财务统计 </span></a></li>
                                                        {% endif %}
                                                        {% if 101 in g.user.get_permission() %}
                                                            <li><a href="/get_finance_data"><i
                                                                    class="fa fa-money"></i><span
                                                                    class="text"> 资金管理 </span></a></li>
                                                        {% endif %}
                                                        {% if 141 in g.user.get_permission() %}
                                                            <li><a href="/get_account_info"><i
                                                                    class="fa fa-file-text"></i><span
                                                                    class="text"> 账户管理 </span></a></li>
                                                        {% endif %}
                                                        {% if 205 in g.user.get_permission() %}
                                                            <li><a href="/stockholders_finance"><i
                                                                    class="fa fa-file-text"></i><span
                                                                    class="text"> 股东资本管理 </span></a></li>
                                                        {% endif %}
                                                        {% if 162 in g.user.get_permission() %}
                                                            <li><a href="/get_finance_daily_data"><i
                                                                    class="fa fa-road"></i><span
                                                                    class="text"> 财务日报 </span></a>
                                                            </li>
                                                        {% endif %}
                                                        {% if 191 in g.user.get_permission() %}
                                                            <li><a href="/user_fee_statis_daily"><i
                                                                    class="fa fa-adn"></i><span
                                                                    class="text"> 用户费用日报 </span></a>
                                                            </li>
                                                        {% endif %}
                                                        {% if 193 in g.user.get_permission() %}
                                                            <li><a href="/account_finance_monthly"><i
                                                                    class="fa fa-empire"></i><span
                                                                    class="text"> 账户财务月报 </span></a>
                                                            </li>
                                                        {% endif %}
                                                        {% if 186 in g.user.get_permission() %}
                                                            <li><a href="/get_fund_account_log"><i
                                                                    class="fa fa-adjust"></i><span
                                                                    class="text"> 大账号操作日志 </span></a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            <li>
                                                {% if 167 in g.user.get_permission() %}
                                                    <a href="#"><i class="fa fa-plus"></i><span
                                                            class="text"> 充值信息 </span> <span
                                                            class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 160 in g.user.get_permission() %}
                                                            <li><a href="/get_inner_recharge_list"><i
                                                                    class="fa fa-file-text"></i><span
                                                                    class="text"> 内部充值信息 </span></a></li>
                                                        {% endif %}
                                                        {% if 168 in g.user.get_permission() %}
                                                            <li><a href="/get_user_recharge_info"><i
                                                                    class="fa fa-money"></i><span
                                                                    class="text"> 用户充值方式 </span></a></li>
                                                        {% endif %}
                                                        {% if 188 in g.user.get_permission() %}
                                                            <li><a href="/fm_recharge_voucher"><i
                                                                    class="fa fa-money"></i><span
                                                                    class="text"> 富明充值凭证 </span></a></li>
                                                        {% endif %}
                                                    </ul>
                                                {% endif %}
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if 94 in g.user.get_permission() %}
                                    <li>
                                        <a href="#"><i class="fa  fa-phone"></i><span class="text"> 客服管理 </span> <span
                                                class="fa fa-angle-down pull-right"></span></a>
                                        <ul class="nav sub">
                                            {% if 58 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-exchange"></i><span
                                                            class="text"> 交易 </span>
                                                        <span class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 59 in g.user.get_permission() %}
                                                            <li><a href="/get_user_order"><i class="fa fa-list-alt"></i><span
                                                                    class="text"> 委托 </span></a></li>
                                                        {% endif %}
                                                        {% if 60 in g.user.get_permission() %}
                                                            <li><a href="/get_user_stock_trade"><i
                                                                    class="fa fa-gavel"></i><span
                                                                    class="text"> 成交 </span></a></li>
                                                        {% endif %}
                                                        {% if 61 in g.user.get_permission() %}
                                                            <li><a href="/get_user_stock_position"><i
                                                                    class="fa fa-briefcase"></i><span
                                                                    class="text"> 持仓 </span></a></li>
                                                        {% endif %}
                                                        {% if 204 in g.user.get_permission() %}
                                                            <li><a href="/user_stock_now_count_position"><i
                                                                    class="fa fa-briefcase"></i><span
                                                                    class="text"> 持仓统计 </span></a></li>
                                                        {% endif %}
                                                        {% if 208 in g.user.get_permission() %}
                                                            <li><a href="/user_stock_history_count_position"><i
                                                                    class="fa fa-briefcase"></i><span
                                                                    class="text"> 历史持仓统计 </span></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if 31 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-cny"></i><span
                                                            class="text"> 用户提现管理 </span>
                                                        <span class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 32 in g.user.get_permission() %}
                                                            <li><a href="/get_withdraw_apply_list"><i
                                                                    class="fa fa-th-list"></i><span
                                                                    class="text"> 申请中 </span></a></li>
                                                        {% endif %}
                                                        {% if 33 in g.user.get_permission() %}
                                                            <li><a href="/get_withdraw_dealed_list"><i
                                                                    class="fa fa-th-list"></i><span
                                                                    class="text"> 处理中 </span></a></li>
                                                        {% endif %}
                                                        {% if 111 in g.user.get_permission() %}
                                                            <li><a href="/get_withdraw_confirm_list"><i
                                                                    class="fa fa-th-list"></i><span
                                                                    class="text"> 已汇款待确认 </span></a>
                                                            </li>
                                                        {% endif %}
                                                        {% if 34 in g.user.get_permission() %}
                                                            <li><a href="/get_withdraw_finished"><i
                                                                    class="fa fa-th-list"></i><span
                                                                    class="text"> 处理完成 </span></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if 2 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-users"></i><span
                                                            class="text"> 身份审核 </span>
                                                        <span class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 6 in g.user.get_permission() %}
                                                            <li><a href="/user_unaudit"><i
                                                                    class="fa fa-user-md"></i><span
                                                                    class="text"> 未审核的用户 </span></a></li>
                                                        {% endif %}
                                                        <li><a href="/get_fm_user_info"><i
                                                                class="fa fa-user-md"></i><span
                                                                class="text"> 审核到富明 </span></a></li>
                                                        {% if 7 in g.user.get_permission() %}
                                                            <li><a href="/user_audit"><i class="fa fa-user-md"></i><span
                                                                    class="text"> 已审核的用户 </span></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if 97 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-pencil-square"></i><span
                                                            class="text"> 用户反馈 </span><span
                                                            class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        <li>
                                                            {% if 89 in g.user.get_permission() %}
                                                                <li><a href="/get_feedback_list"><i
                                                                        class="fa fa-question"></i><span
                                                                        class="text"> 用户反馈 </span></a></li>
                                                            {% endif %}

                                                        <li><a href="/apm_data"><i
                                                                class="fa fa-exclamation-triangle"></i><span
                                                                class="text"> 监控记录 </span></a></li>
                                                        {% if 192 in g.user.get_permission() %}
                                                            <li><a href="/get_remit_info_list"><i
                                                                    class="fa fa-dollar"></i>
                                                                <span class="text"> 汇款人信息 </span></a></li>
                                                        {% endif %}
                                                        </li>
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if 163 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-gamepad"></i><span
                                                            class="text"> 活动 </span><span
                                                            class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 165 in g.user.get_permission() %}
                                                            <li><a href="/get_eggs_activity"><i
                                                                    class="fa fa-ge"></i><span
                                                                    class="text"> 彩蛋活动 </span></a></li>
                                                        {% endif %}
                                                        {% if 164 in g.user.get_permission() %}
                                                            <li><a href="/super_agent"><i class="fa fa-child"></i><span
                                                                    class="text"> 超级经纪人 </span></a></li>
                                                        {% endif %}
                                                        {% if 169 in g.user.get_permission() %}
                                                            <li><a href="/activity_list"><i
                                                                    class="fa fa-magnet"></i><span
                                                                    class="text"> 活动管理 </span></a></li>
                                                        {% endif %}
                                                        {% if 170 in g.user.get_permission() %}
                                                            <li><a href="/prize_list"><i class="fa fa-magnet"></i><span
                                                                    class="text"> 奖品管理 </span></a></li>
                                                        {% endif %}
                                                        {% if 171 in g.user.get_permission() %}
                                                            <li><a href="/free_interest_share_stat"><i
                                                                    class="fa fa-magnet"></i><span
                                                                    class="text"> 免息活动信息 </span></a></li>
                                                        {% endif %}
                                                    </ul>

                                                </li>
                                            {% endif %}
                                            {% if 196 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-hand-o-up"></i><span
                                                            class="text"> 客服回访 </span><span
                                                            class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 197 in g.user.get_permission() %}
                                                            <li><a href="/get_verify_return_visit_list"><i
                                                                    class="fa fa-bullhorn"></i><span
                                                                    class="text"> 开户待回访 </span></a></li>
                                                        {% endif %}
                                                        {% if 198 in g.user.get_permission() %}
                                                            <li><a href="/get_sys_customer_ask_list"><i
                                                                    class="fa fa-bullhorn"></i><span
                                                                    class="text"> 注册待回访 </span></a></li>
                                                        {% endif %}


                                                    </ul>
                                                </li>
                                            {% endif %}
                                        </ul>

                                    </li>
                                {% endif %}
                                {% if 95 in g.user.get_permission() %}
                                    <li>
                                        <a href="#"><i class="fa  fa-exchange"></i><span
                                                class="text"> 交易管理 </span> <span
                                                class="fa fa-angle-down pull-right"></span></a>
                                        <ul class="nav sub">
                                            {% if 98 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-cny"></i><span class="text"> 交易 </span> <span
                                                            class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 67 in g.user.get_permission() %}
                                                            <li><a href="/get_trade_statistics"><i
                                                                    class="fa fa-bar-chart-o"></i><span
                                                                    class="text"> 交易统计 </span></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if 99 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-chain"></i><span
                                                            class="text"> 渠道统计 </span>
                                                        <span class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 125 in g.user.get_permission() %}
                                                            <li><a href="/get_channel_detail_v2"><i
                                                                    class="fa fa-list-alt"></i><span
                                                                    class="text">  渠道统计</span></a>
                                                            </li>
                                                        {% endif %}
                                                        {% if 126 in g.user.get_permission() %}
                                                            <li><a href="/get_channel_statistics_v2?direction=1"><i
                                                                    class="fa  fa-list"></i><span
                                                                    class="text"> 渠道明细 </span></a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% if 127 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-paperclip"></i><span
                                                            class="text"> 渠道交易 </span>
                                                        <span class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 128 in g.user.get_permission() %}
                                                            <li><a href="/get_channel_trade_search_v2"><i
                                                                    class="fa fa-list-alt"></i><span
                                                                    class="text">  渠道交易</span></a>
                                                            </li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="#"><i class="fa fa-stack-overflow"></i><span
                                                        class="text"> 渠道管理 </span><span
                                                        class="fa fa-angle-down pull-right"></span></a>
                                                <ul class="nav sub">
                                                    <li><a href="/channel_list"><i class="fa fa-plus-square"></i><span
                                                            class="text"> 添加渠道 </span><span
                                                            class="fa fa-angle-down pull-right"></span></a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                {% endif %}
                                {% if 209 in g.user.get_permission() %}
                                    <li>
                                        <a href="#"><i class="fa  fa-gamepad"></i><span class="text"> 活动管理 </span> <span
                                                class="fa fa-angle-down pull-right"></span></a>
                                        <ul class="nav sub">
                                            {% if 210 in g.user.get_permission() %}
                                                <li>
                                                    <a href="#"><i class="fa fa-cny"></i><span
                                                            class="text"> 金币竞猜 </span> <span
                                                            class="fa fa-angle-down pull-right"></span></a>
                                                    <ul class="nav sub">
                                                        {% if 211 in g.user.get_permission() %}
                                                            <li><a href="/get_prize_template_list"><i
                                                                    class="fa fa-gift"></i><span
                                                                    class="text"> 奖品模版 </span></a></li>
                                                        {% endif %}
                                                        {% if 212 in g.user.get_permission() %}
                                                            <li><a href="/get_commodity_list"><i class="fa fa-gift"></i><span
                                                                    class="text"> 奖品历史 </span></a></li>
                                                        {% endif %}
                                                        {% if 213 in g.user.get_permission() %}
                                                            <li><a href="/get_exchange_history_list"><i
                                                                    class="fa fa-exchange"></i><span
                                                                    class="text"> 兑换列表 </span></a></li>
                                                        {% endif %}
                                                        {% if 214 in g.user.get_permission() %}
                                                            <li><a href="/get_quizzes_stock_list"><i
                                                                    class="fa fa-tasks"></i><span
                                                                    class="text"> 修改金币 </span></a></li>
                                                        {% endif %}
                                                        {% if 215 in g.user.get_permission() %}
                                                            <li><a href="/get_acti_stock_list"><i
                                                                    class="fa fa-tasks"></i><span
                                                                    class="text"> 股票筛选 </span></a></li>
                                                        {% endif %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                </div>
            </div>
            <div>


            </div>

        </div>
        <!-- end: Main Menu -->
    </div>
{% endblock %}
