{% extends "body_header.html" %}

{% block menus %}
    <div class="row">

        <!-- start: Main Menu -->
        <div class="sidebar ">

            <div class="sidebar-collapse">
                {#                <div class="sidebar-header t-center">#}
                {#                    <span><img class="text-logo" style="width: 138px" src="static/img/logo1.png"></span>#}
                {#                </div>#}
                <div class="sidebar-menu">
                    <ul class="nav nav-sidebar" style="overflow:auto">
                        <li>
                            <a href="#"><i class="fa  fa-inbox"></i><span class="text"> 内容管理 </span> <span
                                    class="fa fa-angle-down pull-right"></span></a>
                            <ul class="nav sub">
                                <li>
                                    <a href="#"><i class="fa fa-pencil-square"></i><span
                                            class="text"> 内容管理 </span><span
                                            class="fa fa-angle-down pull-right"></span></a>
                                    <ul class="nav sub">
                                        <li>
                                        <li><a href="/get_banner_list_total"><i class="fa"></i><span
                                                class="text"> 首页Banner </span></a>
                                        </li>
                                        <li><a href="/get_news_list_total"><i class="fa"></i><span
                                                class="text"> 新闻 </span></a></li>
                                        <li><a href="/get_fast_news_list_total"><i class="fa"></i><span
                                                class="text"> 快讯 </span></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div></div>

        </div>
        <!-- end: Main Menu -->
    </div>
{% endblock %}
